.select{
  position: absolute;
  top: 0;
  left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 1.5;
}


.head {
	max-width: 300px;
	padding-bottom: 30px;
	font-size: 1.2rem;
}

.button {
  width: 200px;
  height: 50px;
  background-color: #e7a61a;
	color: #000;
  border: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px 0px #000;
  -moz-box-shadow: 0px 3px 6px 0px #000;
  box-shadow: 0px 3px 6px 0px #000;
  outline: none;
  margin: 1em;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.2rem;
	cursor: pointer;
}

.rhymeSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}