.game {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 15px;
	max-height: 568px;
}

.match {
	text-align: center;
	font-size: 1.5rem;
	line-height: 2rem;
}

.score {
	text-align: center;
	font-size: 2rem;
	position: relative;
	top: 30px;
}


.body {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(3, 90px);
	grid-template-rows: repeat(4, 90px);
	grid-gap: 8px;
	position: absolute;
	bottom: 0px;
}